.bubble_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto 0;
    padding: 1rem 0 4rem 0;
}

.bubble{
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    font-weight: bold;
    float: left;
    background-color: #a1c2cc;
    /* background-color: #d1a737; */
    border-radius: 50%;
    transition: all 0.5s ease;
}

.bubble:hover {
    background-color: #cce3eb;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s ease;
    /* border-color: black;
    border-width: 0.1rem;
    border-style: solid; */
    color: #00000000;

    .below {
        visibility: visible;
        transition: all 0.5s ease;
        color: black;
    };

}

emph {
    font-weight: bold;
}

.below {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-weight: 200;
 }

.post_content {
    text-align: left !important;
}

li::marker {
    content: "ã€‹   ";
    font-size: 1.1rem;
}


@media only screen and (orientation: portrait) {

    .bubble_container{
        width: 100%;
        text-align: center;
    }

    .bubble{
        margin: 0.2rem 1rem;
        height: 11rem;
        width: 11rem;
    }

    .bubble:hover {
        height: 20rem;
        width: 20rem;
    }

    .below {    
        height: 15rem;
        width: 15rem;
        font-size: 1rem;
    }
}

@media only screen and (orientation: landscape) {

    .bubble_container{
        width: 50%;
        text-align: center;
    }

    .bubble{
        margin: 0.2rem 1rem;
        height: 13rem;
        width: 13rem;
    }

    .bubble:hover {
        height: 20rem;
        width: 20rem;
    }

    .below {    
        height: 15rem;
        width: 15rem;
        font-size: 1rem;
    }
}



