<script>
    function openMenu() {
        document.getElementById("menu").style.width = "20%";
    }

    function closeMenu() {
        document.getElementById("menu").style.width = "0%";
    }
</script>


<div id="menu" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
    <div class="overlay-content">
        <a href="{{ '/tanz/' | relative_url }}">Tanz</a>
        <a href="{{ '/kreation/' | relative_url }}">Kreation</a>
        <a href="{{ '/spread_and_sprout/' | relative_url }}">Spread & Sprout</a>
    </div>
    <div class="overlay-footer">
        <a href="{{ '/legal/' | relative_url }}">Impressum</a>
        <a href="mailto:office@tanzconnective.at">office@tanzconnective.at</a>
    </div>
</div>


<nav class="navigation_bar">
    <a href="#" class="button fa fa-bars" onclick="openMenu()"></a>
    <a href="#" class="button fa fa-facebook"></a>
    <a href="#" class="button fa fa-instagram"></a>
</nav>
