<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% include styles.html %}
</head>
<body>
<div class="content">

    {% include logo_large.html %}
    {% include navigation.html %}

    {% for category in site.categories %}
        {% if category[0] == page.category %}
            {% for post in category[1] %}
                {% if post.width == 'full' %}
                <div class="content_block full_width">
                {% elsif post.width == 'fullflat' %}
                <div class="content_block full_width_flat">
                {% else %}
                <div class="content_block half_width">
                {% endif %}
                    <div class="content_block_background" style="background-image: url('{{ post.image | relative_url}}')"></div>
                    <div class="content_list_tag" style="position: relative">
                        <div class="title"> {{ post.title }} </div>
                        <div class="subtitle"> {{ post.subtitle }} </div>
                        <div>
                            <a href="{{ post.url | relative_url }}">[ ... ]</a>
                        </div>
                    </div>
                 </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

</body>
</html>

