<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% include styles.html %}
    <link rel="stylesheet" href="{{ '/css/post.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/profiles.css' | relative_url }}">
</head>
<body>
    <div class="background_post"></div>
    <div class="content">
        {% include logo_large.html %}
        {% include navigation.html %}

        <div class="post">
            <div class="post_picture"  style="background-image: url('{{ page.image | relative_url }}')"></div>
            <div class="post_container half_width">

                <div class="post_title">
                    {{page.title}}
                </div>
                <div class="post_content">
                    <p>Geboren und aufgewachsen in Oberösterreich, lebt in Wien.</p>

                    <div class="bubble_container">
                        <div class="bubble">
                            <div class="top">danc:ing</div>
                            <div class="below">
                                <p><emph>„Libertalia“ SALT LAB Performance, 2022</emph></p>
                                <p>Creative Europe Projekt LIBERTALIA, Altmünster am Traunsee
                                als Teil der Europäischen Kulturhauptstadt Bad Ischl <br>(Salzkammergut 2024)</p>
                            </div>
                        </div>
                        <div class="bubble">
                            <div class="top">creat:ing</div>
                            <div class="below">
                                <p><emph>„schwerelos&schwindelfrei“ 2021</emph>, Tanzkollektiv Tanzconnec:tive</p>
 
                                <p><emph>“reboot” 2019</emph>, Festival der Regionen “Unter Tag/Underground”</p>
                            </div>
                        </div>
                        <div class="bubble">
                            <div class="top">shar:ing</div>
                            <div class="below">
                                <p>Tanzpädagogische Unterrichtstätigkeit an der <emph>Landesmusikschule OÖ, Musik- und Kunstschule Vösendorf</emph></p>

                                <p><emph>KuKuDu-Vermittlerin</emph> seit 2022, Kunst und Kulturvermittlung in Kindergärten</p>
                            </div>
                        </div>
                    </div>

                    <ul>
                        <li>Studium der Zeitgenössischen Tanzpädagogik, Musik und Kunst Privatuniversität der Stadt Wien, BA 2019</li>
                        <li>Erasmusprogramm, DOCH – School of Dance and Circus Stockholm, 2016</li>
                        <li>Ausbildung zur Kindergartenpädagogin, Bildungsanstalt für Kindergartenpädagogik Liezen, 2012</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>