<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    {% include styles.html %}
    <link rel="stylesheet" href="{{ '/css/basic_post_layout.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/profiles.css' | relative_url }}">
</head>
<body>
    <div class="background_post"></div>
    <div class="content">
        {% include logo.html %}
        {% include navigation.html %}

        <div class="post">
            <div class="post_picture"  style="background-image: url('{{ page.image | relative_url }}')"></div>
            <div class="post_container half_width">

                <div class="post_title">
                    {{page.title}}
                </div>

                {{content}}

            </div>
        </div>
    </div>
</body>
</html>